extends layout

block content

  if errorMsg
    h4.errorMsg #{errorMsg}

  - urlEdit = '/myprofile/' + user._id + '/edit'
  form(action=urlEdit, method='POST')
    .form-group
      label(for='formGroupExampleInput') Name
      input#formGroupNameInput.form-control(name="firstname", type='text', value=user.firstname)
    .form-group
      label(for='formGroupExampleInput2') Email
      input#formGroupEmailInput.form-control(name="email", type='text', value=user.email)
    .form-group
      label(for='formGroupExampleInput') Password
      input#formGroupNameInput.form-control(name="password", type='password', placeholder='Password')
    .form-group
      label(for='formGroupExampleInput') Retype Password
      input#formGroupNameInput.form-control(name="passwordRetype", type='password', placeholder='Retype Password')
    .form-group
      label(for='formGroupExampleInput2') City
      input#formGroupCityInput.form-control(name="city", type='text', value=user.city)
    .form-group
      label(for='formGroupExampleInput2') State
      input#formGroupStateInput.form-control(name="state", type='text', value=user.state)
    .form-group
      label(for='formGroupExampleInput2') Gender
      input#formGroupGenderInput.form-control(name="gender", type='text', value=user.gender)
    .form-group
      label(for='formGroupExampleInput2') Dance
      input#formGroupDanceInput.form-control(name="dance", type='text', value=user.dance)
    br
    br
    button.btn.btn-default(type='submit') Submit Changes
